/* ProductSection.module.css */

.productContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product {
  font-weight: 700;
  font-size: 32px;
  max-width: 539px;
  text-align: center;
  padding-bottom: 50px;
  margin: 0 auto;
  color: #22343d;
}

.productList {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.productItem {
  width: calc((100% - 90px) / 4);
  max-width: 255px;
}

/* Іконки — різний колір для кожної позиції */
.productIconBox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
}

.productItem:nth-child(1) .productIconBox {
  background-color: #02897a;
}

.productItem:nth-child(2) .productIconBox {
  background-color: #4d8dff;
}

.productItem:nth-child(3) .productIconBox {
  background-color: #740a76;
}

.productItem:nth-child(4) .productIconBox {
  background-color: #f03e3d;
}

.productIconBox svg {
  fill: #fff;
}

.productListItem {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  padding-top: 18px;
  padding-bottom: 13px;
}

.productText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  padding-bottom: 76px;
}

.productBtn {
  border: 2px solid transparent;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin: 0 auto 50px;
  text-align: center;
  transition:
    scale 0.5s ease,
    color 0.5s ease,
    background-color 0.5s ease,
    border-color 0.5s ease;
}

.productBtn:hover,
.productBtn:focus {
  color: #02897a;
  background-color: #fff;
  border-color: #02897a;
  scale: 1.1;
}
